LocalWebService/App_WebReferences/SLMSServices/SLMSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SLMSService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.100.42:90/SLMSService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.100.42:90/SLMSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.100.42:90/SLMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OnlineBillCollectionService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISLMS_Service_TestService_InputMessage">
    <wsdl:part name="parameters" element="tns:TestService" />
  </wsdl:message>
  <wsdl:message name="ISLMS_Service_TestService_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestServiceResponse" />
  </wsdl:message>
  <wsdl:message name="ISLMS_Service_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="ISLMS_Service_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="ISLMS_Service_GetTokenByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenByUser" />
  </wsdl:message>
  <wsdl:message name="ISLMS_Service_GetTokenByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenByUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISLMS_Service_GetBillLedger_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBillLedger" />
  </wsdl:message>
  <wsdl:message name="ISLMS_Service_GetBillLedger_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBillLedgerResponse" />
  </wsdl:message>
  <wsdl:message name="ISLMS_Service_BillPaymentRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:BillPaymentRequest" />
  </wsdl:message>
  <wsdl:message name="ISLMS_Service_BillPaymentRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:BillPaymentRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISLMS_Service_GetPaymentCollectionHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentCollectionHistory" />
  </wsdl:message>
  <wsdl:message name="ISLMS_Service_GetPaymentCollectionHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentCollectionHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="ISLMS_Service_ChangePasswordRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordRequest" />
  </wsdl:message>
  <wsdl:message name="ISLMS_Service_ChangePasswordRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISLMS_Service_PaymentCancelRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentCancelRequest" />
  </wsdl:message>
  <wsdl:message name="ISLMS_Service_PaymentCancelRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentCancelRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="ISLMS_Service">
    <wsdl:operation name="TestService">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLMS_Service/TestService" message="tns:ISLMS_Service_TestService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLMS_Service/TestServiceResponse" message="tns:ISLMS_Service_TestService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLMS_Service/Test" message="tns:ISLMS_Service_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLMS_Service/TestResponse" message="tns:ISLMS_Service_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTokenByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLMS_Service/GetTokenByUser" message="tns:ISLMS_Service_GetTokenByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLMS_Service/GetTokenByUserResponse" message="tns:ISLMS_Service_GetTokenByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBillLedger">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLMS_Service/GetBillLedger" message="tns:ISLMS_Service_GetBillLedger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLMS_Service/GetBillLedgerResponse" message="tns:ISLMS_Service_GetBillLedger_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BillPaymentRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLMS_Service/BillPaymentRequest" message="tns:ISLMS_Service_BillPaymentRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLMS_Service/BillPaymentRequestResponse" message="tns:ISLMS_Service_BillPaymentRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentCollectionHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLMS_Service/GetPaymentCollectionHistory" message="tns:ISLMS_Service_GetPaymentCollectionHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLMS_Service/GetPaymentCollectionHistoryResponse" message="tns:ISLMS_Service_GetPaymentCollectionHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLMS_Service/ChangePasswordRequest" message="tns:ISLMS_Service_ChangePasswordRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLMS_Service/ChangePasswordRequestResponse" message="tns:ISLMS_Service_ChangePasswordRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PaymentCancelRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLMS_Service/PaymentCancelRequest" message="tns:ISLMS_Service_PaymentCancelRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLMS_Service/PaymentCancelRequestResponse" message="tns:ISLMS_Service_PaymentCancelRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISLMS_Service" type="tns:ISLMS_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestService">
      <soap:operation soapAction="http://tempuri.org/ISLMS_Service/TestService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/ISLMS_Service/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTokenByUser">
      <soap:operation soapAction="http://tempuri.org/ISLMS_Service/GetTokenByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBillLedger">
      <soap:operation soapAction="http://tempuri.org/ISLMS_Service/GetBillLedger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BillPaymentRequest">
      <soap:operation soapAction="http://tempuri.org/ISLMS_Service/BillPaymentRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentCollectionHistory">
      <soap:operation soapAction="http://tempuri.org/ISLMS_Service/GetPaymentCollectionHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordRequest">
      <soap:operation soapAction="http://tempuri.org/ISLMS_Service/ChangePasswordRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentCancelRequest">
      <soap:operation soapAction="http://tempuri.org/ISLMS_Service/PaymentCancelRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SLMSService">
    <wsdl:port name="BasicHttpBinding_ISLMS_Service" binding="tns:BasicHttpBinding_ISLMS_Service">
      <soap:address location="http://192.168.100.42:90/SLMSService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>