Test/App_WebReferences/Passport_Verify/Passport_Verify.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mobile.trustbanklimited.com/checkout/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mobile.trustbanklimited.com/checkout/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mobile.trustbanklimited.com/checkout/">
      <s:element name="CheckPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PaymentReferenceNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PaymentAmount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="EnrolmentID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="EnrolmentDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Keycode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckPaymentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:CheckPayment" />
  </wsdl:message>
  <wsdl:message name="CheckPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:CheckPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="CheckPaymentHttpPostIn">
    <wsdl:part name="PaymentReferenceNumber" type="s:string" />
    <wsdl:part name="FullName" type="s:string" />
    <wsdl:part name="PaymentAmount" type="s:string" />
    <wsdl:part name="EnrolmentID" type="s:string" />
    <wsdl:part name="EnrolmentDate" type="s:string" />
    <wsdl:part name="Keycode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckPaymentHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="Passport_VerifySoap">
    <wsdl:operation name="CheckPayment">
      <wsdl:input message="tns:CheckPaymentSoapIn" />
      <wsdl:output message="tns:CheckPaymentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Passport_VerifyHttpPost">
    <wsdl:operation name="CheckPayment">
      <wsdl:input message="tns:CheckPaymentHttpPostIn" />
      <wsdl:output message="tns:CheckPaymentHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Passport_VerifySoap" type="tns:Passport_VerifySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckPayment">
      <soap:operation soapAction="http://mobile.trustbanklimited.com/checkout/CheckPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Passport_VerifySoap12" type="tns:Passport_VerifySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckPayment">
      <soap12:operation soapAction="http://mobile.trustbanklimited.com/checkout/CheckPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Passport_VerifyHttpPost" type="tns:Passport_VerifyHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CheckPayment">
      <http:operation location="/CheckPayment" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Passport_Verify">
    <wsdl:port name="Passport_VerifySoap" binding="tns:Passport_VerifySoap">
      <soap:address location="http://localhost:51907/Checkout/Passport_Verify.asmx" />
    </wsdl:port>
    <wsdl:port name="Passport_VerifySoap12" binding="tns:Passport_VerifySoap12">
      <soap12:address location="http://localhost:51907/Checkout/Passport_Verify.asmx" />
    </wsdl:port>
    <wsdl:port name="Passport_VerifyHttpPost" binding="tns:Passport_VerifyHttpPost">
      <http:address location="http://localhost:51907/Checkout/Passport_Verify.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>